<!-- <app-navbar></app-navbar> -->
<section class="home-block">
  <!-- <div class="header"> -->
    <div class="background-image"></div>
    <div class="overlay"></div>

    <div class="header-content">
      <h1 class="title">
        Concretex Group - wiesz na czym stoisz
      </h1>
      <p class="description"> Nam lobortis est ac vestibulum porta. Nam at orci id ex laoreet sodales id ut risus. Fusce aliquam nisl ante. Etiam aliquam malesuada justo, eget commodo risus euismod quis.</p>
      <div class="button">Zobacz ofertę</div>
    </div>
  <!-- </div> -->
</section>
