<section class="home-block">
  <!-- <div class="header"> -->
    <div class="background-image"></div>
    <div class="overlay"></div>

    <div class="header-content">
      <h1 class="title">
        Concretex Group - wiesz na czym stoisz
      </h1>
      <p class="description"> Nam lobortis est ac vestibulum porta. Nam at orci id ex laoreet sodales id ut risus. Fusce aliquam nisl ante. Etiam aliquam malesuada justo, eget commodo risus euismod quis.</p>
      <div class="button">Zobacz ofertę</div>
    </div>
  <!-- </div> -->
</section>
<section class="info-block">

  <div class="about">
    <h2>Posadzki betonowe to nasza pasja</h2>
    <div class="about-content">
      Firma Concretex Group to zespół profesjonalistów z branży posadzkarskiej.
     Specjalizuje się w wykonywaniu posadzek betonowych , posadzek przemysłowych
      oraz podjazdach betonowych . Posadzki wykonujemy na różnych obiektach
       począwszy od domków jednorodzinnych, garażach a skończywszy na dużych
        obiektach przemysłowych . Dla naszych klientów udzielamy gwarancji na
         poziom, wytrzymałość oraz trwałość wykonanej przez nas posadzki.
          Nasze posadzki mają idealny poziom oraz wytrzymałość. Nadają się
           pod każdy rodzaj podłóg bez stosowania mas wyrównujących oraz 
           wzmacniających. Tak zrobione posadzki pozwalają zaoszczędzić czas
            i pieniądze naszych klientów.
    </div>
  </div>
<div class="icons">
  <div class="block-container">
    <div class="icon-image"></div>
    <div class="icon-content">
    </div>
  </div>

  <div class="block-container">
    <div class="icon-image"></div>
    <div class="icon-content">
    </div>
  </div>

  <div class="block-container">
    <div class="icon-image"></div>
    <div class="icon-content">
    </div>
  </div>
</div>

</section>

<section class="more-info-block">

  <div class="more-info-image"></div>

  <div class="offer">
    <h2>Posadzki betonowe to nasza pasja</h2>
    <div class="offer-content">
      Wizytówką naszej firmy jest robienie podjazdów betonowych ,
      które wyróżniają się swoją wytrzymałością oraz wyglądem.
      <br>
      Dzięki umijętnościom oraz wiedzę naszych fachowców potrafimy
      wykonać każdy projekt na każdej powieszchni o różnych kształtach.
      Takie podjazdy nie konkurują z kostką brukową bo nawet po latach
      zachowują swój pierwotny kształt oraz wizerunek.
    </div>
  </div>
</section>

<section class="last-info-block">

    <div class="contact">
      <h2>Posadzki betonowe to nasza pasja</h2>
      <div class="contact-content">
        Sprzęt, którym dysponujemy to atrybut, dzięki któremu prace wykonujemy szybko i sprawnie. Profesjonalizm i stabilność zespołu z wieloletnim doświadczeniem to cechy, dzięki którym kolejni klienci wciąż nas polecają. Bezpłatnie w razie jakichkolwiek wątpliwości, pytań, problemów dojeżdżamy do klienta w celu doradzenia i wyjaśnienia problemów.
  <br>
  Zadzwoń a doradzimy, wyliczymy materiał, ustalimy dogodny termin.
  Posiadamy w ofercie  wszystkie materiały potrzebne do wykonania posadzek.
  <br>
  Dzięki profesjonalnemu podejściu do każdego zadania zyskaliśmy uznanie wielu klientów indywidualnych oraz firm budowlanych, z którymi regularnie współpracujemy od wielu lat. Świadczymy usługi na lokalnym rynku, dbając przy tym o każdy szczegół związany ze sprawną realizacją powierzonych nam zadań. Dysponujemy własnym transportem , dzięki czemu jesteśmy w stanie działać szybko i zaoferować nasze usługi w korzystnej cenie.
  <br>
  Serdecznie zapraszamy do współpracy
      </div>
    </div>

    <div class="helmet-image"></div>
</section>
