<app-navbar [color]="ColorTypeEnum.BLACK"></app-navbar>
<section class="offer-block">
  <div class="content-section">
    <h1 class="title">Czym się zajmujemy</h1>
    <div class="content">Firma Concretex Group to zespół profesjonalistów z branży posadzkarskiej.
      Specjalizuje się w wykonywaniu posadzek betonowych , posadzek przemysłowych . Posadzki wykonujemy
      na różnych obiektach począwszy od domków jednorodzinnych, garażach a skończywszy na dużych obiektach
       przemysłowych typu bloki , hale czy biurowce. Dla naszych klientów udzielamy gwarancji na poziom,
       wytrzymałość oraz trwałość wykonanej przez nas posadzki. Nasze posadzki mają idealny poziom oraz
       wytrzymałość. Nadają się pod każdy rodzaj podłóg bez stosowania mas wyrównujących oraz wzmacniających.
        Tak zrobione posadzki pozwalają zaoszczędzić czas i pieniądze naszych klientów.
    </div>
    <div class="icon-wrapper">
      <div class="icon"></div>
    </div>
    <div class="content">Sprzęt, którym dysponujemy to atrybut, dzięki któremu prace wykonujemy szybko i sprawnie.
       Profesjonalizm i stabilność zespołu z wieloletnim doświadczeniem to cechy, dzięki którym kolejni klienci
        wciąż nas polecają. Bezpłatnie w razie jakichkolwiek wątpliwości, pytań, problemów dojeżdżamy do klienta
        w celu doradzenia i wyjaśnienia problemów.</div>
        <div class="icon-wrapper">
          <div class="icon"></div>
        </div>
      <div class="content">Zadzwoń a doradzimy, wyliczymy materiał, ustalimy dogodny termin.
      Posiadamy w ofercie styropian, folie, cement, żwir oraz wszystkie materiały potrzebne do wykonania posadzek.
      </div>

      <div class="icon-wrapper">
        <div class="icon"></div>
      </div>
    <div class="content">Dzięki profesjonalnemu podejściu do każdego zadania zyskaliśmy uznanie wielu
      klientów indywidualnych oraz firm budowlanych, z którymi regularnie współpracujemy od wielu lat.
      Świadczymy usługi na lokalnym rynku, dbając przy tym o każdy szczegół związany ze sprawną realizacją
      powierzonych nam zadań. Dysponujemy własnym transportem ciężarowym, dzięki czemu jesteśmy w stanie
      działać szybko i zaoferować nasze usługi w korzystnej cenie.
      </div>
  </div>

  <!-- <div class="offers-list-section">
    <div class="offer-section">
      <div class="content-text">
        <h4 class="offer-title">Posadzki betonowe</h4>
        <div class="offer-text">Sed maximus felis nec turpis lacinia, vel vestibulum lacus eleifend.
          Phasellus imperdiet aliquet imperdiet. Suspendisse vitae varius eros, a dictum libero.
          Praesent quis dui a massa venenatis gravida sit amet eu quam. Nam consequat convallis egestas.
          Maecenas non dui sem. Proin in mattis arcu.
        </div>
        <div class="offer-image"></div>
      </div>
    </div>

    <div class="offer-section-left">
      <div class="content-text-left">
        <h4 class="offer-title">Posadzki betonowe</h4>
        <div class="offer-text">Sed maximus felis nec turpis lacinia, vel vestibulum lacus eleifend.
          Phasellus imperdiet aliquet imperdiet. Suspendisse vitae varius eros, a dictum libero.
          Praesent quis dui a massa venenatis gravida sit amet eu quam. Nam consequat convallis egestas.
          Maecenas non dui sem. Proin in mattis arcu.
        </div>
        <div class="offer-image-left"></div>
      </div>
    </div>
  </div> -->



</section>
