<app-navbar></app-navbar>
<section class="contact-block">
    <div class="background"></div>
    <div class="content">
        <div class="content-wrapper">

            <div class="founder-info">
                <h3 class="name">Daniil Korotushko</h3>
                <p class="name-details">founder &amp; CEO</p>
            </div>

            <div class="address-info">
                <p class="address">ul. Kosińskiego 24/83
                <br>61-521 Poznań</p>
            </div>

            <div class="contact-info">
                <p class="phone">+48 798 222 219</p>
                <p class="email">concretex.group@gmail.com</p>
            </div>
            
        </div>

        <div class="line"></div>

        <div class="form-wrapper">
            <form>

            </form>
        </div>
    </div>
</section>