@import "src/variables.scss";

.contact-block {
    position: relative;

    @media all and (min-width: $desktop-breakpoint) {
        height: calc(100vh - 26vh);
    }
}

.background {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    background-image: url("~src/assets/images/black-background-hex.jpg");

    // @media all and (min-width: $desktop-breakpoint) {
    // }
}

.content {
    display: flex;
    flex-direction: column;
    padding: 14vh 6vw 6vh;
    
    @media all and (min-width: $desktop-breakpoint) {
        flex-direction: row;
        padding: 20vh 12vw;
    }
}

.content-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $font-white;
    padding-bottom: 5vh;

    @media all and (min-width: $desktop-breakpoint) {
        width: 30%;
        padding-top: 5vh;
        padding-bottom: unset;
    }
}

.address-info, .contact-info {
    margin-top: 3vh;
}


.name-details {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1rem;
    margin-top: 0.5vh;
}

.address {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1rem;
}

.phone {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: 0.5vh;
}

.email {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1rem;
}

.line {
    display: none;

    @media all and (min-width: $desktop-breakpoint) {
        display: block;
        background-color: $font-grey-light;
        width: 1px;
        height: 550px;
        position: relative;
        top: -80px;
    }
  }

.form-content {
    display: flex;
    flex-direction: column;

    @media all and (min-width: $desktop-breakpoint) {
        padding-left: 10vw;
    }
}

.form-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;

    @media all and (min-width: $desktop-breakpoint) {
        width: 70%;
    }  
}

.title {
    color: $font-white;
}

.name-wrapper-row, .contact-data-row {
    display: flex;
    flex-direction: column;

    @media all and (min-width: $desktop-breakpoint) {
      flex-direction: row;  
    }
}

input {
    height: 20px;
}

mat-label {
    color: $font-white;
}

.name-field, .email-field {
    @media all and (min-width: $desktop-breakpoint) {
       margin-right: 20px; 
    }
}

.name-field, .lastname-field,
 .phone-field, .email-field {
     width: 86vw;

    @media all and (min-width: $desktop-breakpoint) {
        width: 250px;
    }
}

.message-field {
    width: 86vw;

    @media all and (min-width: $desktop-breakpoint) {
        width: 520px;
    }  
}

textarea { 
    height: 100px;
}

.button {
    min-width: 150px;
    width: fit-content;
    height: 52px;
    padding: 3vh 4vw;
    background-color: $color-yellow;
    color: $color-black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}

.mat-input-element {
    &::ng-deep {
    caret-color: $color-yellow;
    color: $font-white;
  }
} 

.mat-form-field-appearance-outline {
    &::ng-deep {
        .mat-form-field-outline {
            color: #ffffff;
        }

        .mat-form-field-outline-thick {
            color: $color-yellow;
        }
    }
}
    