<section class="contact-block">
    <div class="background"></div>
    <div class="content">
        <div class="content-wrapper">

            <div class="founder-info">
                <h3 class="name">Concretex Group Sp. z o.o.</h3>
                <p class="name-details">NIP: </p>
                <p class="name-details">REGON: </p>
            </div>

            <div class="address-info">
                <p class="address">ul. Kosińskiego 24/83
                <br>61-521 Poznań</p>
            </div>

            <div class="contact-info">
                <p class="phone">+48 798 222 219</p>
                <p class="email">concretex.group@gmail.com</p>
            </div>
            
        </div>

        <div class="line"></div>

        <div class="form-content">
            <h2 class="title">Napisz do nas</h2>
            <div class="form-wrapper">
                
                <form [formGroup]="contactForm">
                    <div class="form-group">
                        <div class="name-wrapper-row">

                            <mat-form-field appearance="outline" class="name-field">
                                <mat-label>Imię</mat-label>
                                <input matInput
                                fromControlName="name"
                                type="text"
                                required>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" class="lastname-field">
                                <mat-label>Nazwisko</mat-label>
                                <input matInput
                                fromControlName="lastname"
                                type="text"
                                required>
                            </mat-form-field>
                        </div>

                        <div class="contact-data-row">
                            <mat-form-field appearance="outline" class="email-field">
                                <mat-label>E-mail</mat-label>
                                <input matInput
                                fromControlName="email"
                                type="email"
                                required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="phone-field">
                                <mat-label>Telefon</mat-label>
                                <input matInput
                                fromControlName="phone"
                                type="tel"
                                required>
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="outline" class="message-field">
                            <mat-label>Wiadomość</mat-label>
                            <textarea matInput
                            fromControlName="message"required></textarea>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div
             class="button"
              mat-raised-button
              matRipple
              [matRippleCentered]="true"
              (click)="onSubmit()">Wyślij</div>
        </div>


    </div>
</section>