$font-grey: #3F3F3F;
$font-white: #ffffff;
$font-grey-light: #626262;
$font-color-footer: #a9ada8;

$color-black: #000000;
$color-yellow: #ffc53a;
$color-grey: #343434;


$mobile-breakpoint: 960px;
$desktop-breakpoint: 961px;