@import "src/variables.scss";

.footer-wrapper {
  position: relative;
}

.columns-wrapper {
  background-color: $color-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 6vw;

  @media all and (min-width: $desktop-breakpoint) {
    flex-direction: row;
    padding: 6vh 12vw;
  }
}

.logo {
  cursor: pointer;
  outline: none;
  width: 215px;
  max-width: calc(82vw - 80px);
  height: 112px;
  background: url("~src/assets/images/logo-white.png") no-repeat center;
  background-size: contain;
}

.line {
  display: none;

  @media all and (min-width: $desktop-breakpoint) {
    display: block;
    background-color: #626262;
    width: 1px;
    height: 120px;
    margin-left: 20px;
  }  
}

.right-column, .left-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $font-color-footer;
  font-size: 12px;
  line-height: 16px;
  padding: 2vh 2vw;

  @media all and (min-width: $desktop-breakpoint) {
    width: 40%;
    padding: 4vh 0 4vh 2vw;
  }  
}

.right-column {
  order : 1;

  @media all and (min-width: $desktop-breakpoint) {
    order: unset;
  }    
}

.left-column {
  @media all and (min-width: $desktop-breakpoint) {
    padding-left: 10vw;
  }
}

.social-media {
  margin-bottom: 1vh;
}


.links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 1vh;
  justify-self: flex-end;

  @media all and (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }  
}

.link {
  margin-bottom: 1vh;

  @media all and (min-width: $desktop-breakpoint) {
    margin-bottom: unset;
    margin-right: 2.5vw;

    &:last-of-type {
      margin-right: 0;
    }
  }  

  .button-content {
    text-decoration: initial;
    font-weight: 500;
    color: $font-color-footer;

    &:hover {
      color: $color-yellow;
    }
  }
}
