<div class="navbar" [ngClass]="{'black': color === ColorTypeEnum.BLACK}">
  <a class="logo" href=""></a>
    <!-- <img src="./assets/images/black-logo.png"> -->
  <div class="navbar-links-wrapper">
    <ul  class="links-list">
      <li class="link"><a class="button-content" routerLink="/">Start</a></li>
      <li class="link"><a class="button-content" routerLink="/oferta">Oferta</a></li>
      <li class="link"><a class="button-content" routerLink="/realizacje">Realizacje</a></li>
      <li class="link"><a class="button-content" routerLink="/kontakt">Kontakt</a></li>
    </ul>
  </div>
</div>
