<section class="top-nav">
  <div class="logo"></div>

  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu-button-container">
    <div class="menu-button"></div>
  </label>

  <ul class="menu">
    <li class="link">
      <a class="button-link"
       routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Start</a>
    </li>
    <li class="link">
      <a class="button-link" routerLink="/realizacje" routerLinkActive="active">Realizacje</a>
    </li>
    <li class="link">
      <a class="button-link" routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
    </li>
  </ul>
</section>